<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>جامعه تک - Code Hub</title>
  <link rel="stylesheet" href="../static/home.css">
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header class="showcase">
    <div class="content">
      <img src="https://image.ibb.co/ims4Ep/logo.png" class="logo" alt="Traversy Media">
      <div class="title">جامعه تک</div>

      <div class="text"> <h1>ارتقاء نوآوری‌ها و راه‌حل‌های نوین</h1></div>
    </div>
  </header>
  
  <section class="services">
    <div class="container grid-1 center">
      <div>
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
        <p>اینجا در کنار یکدیگر رشد کنید و مهارت های خود را ارتقاءدهید</p>
          <form action="/home" method="post">
{#        <button id="btn-learnMore">بیشتر بدانید</button>#}
        <button class="btn">شروع کنید</button>
         </form>
      </div>
    </div>
  </section>
</body>
</html>
